<div class="container-fluid" >
    <div class="row">
            <button class="btn btn-default" ui-sref="citasCreate">Crear Cita</button></div>
        <div class="row">
            <style>
                h2{
                background-color: #c8e5bc;
                }
                table{
                background-color: #c8e5bc;
                }
            </style>
    <h2>Citas disponibles</h2>
    <table class="col-md-4">
        <thead>
            <tr>
                <th>Fecha</th>  
                <th>IDP</th>
                <th>Paciente</th>
                <th>Consultorio</th>
                <th>Acciones</th>  
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="record in records">
                <td id="{{$index}}-fecha">{{record.fecha}}</td>
                <td id="{{$index}}-paciente">{{record.paciente.idPaci}}</td>
                <td id="{{$index}}-paciente">{{record.paciente.name}}</td>
                <td id="{{$index}}-consultorio">{{record.consultorio.idConsult}}</td>
                

                <td>
                    <button id="{{$index}}-reservar-btn" class="btn btn-default btn-sm" ui-sref="citasReservar({citaId: record.id})"><span class="glyphicon glyphicon-edit"></span> Reservar Cita</button>
                   <button type="button" ng-click="ctrl.deleteRecord(record) "ui-sref='citasList' >Eliminar</button> 
                </td>
            </tr>
        </tbody>
    </table>
</div>
