<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="col-md-6 well">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="ctrl.closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}} </alert>
    <form novalidate name="form" id="cita-form" role="form" ng-submit="form.$valid && ctrl1.deleteRecord(currentRecord)">
        <p> Se ha eliminado la cita de la lista de espera</p>
        <button type="button" ng-click="ctrl1.deleteRecord(currentRecord) "ui-sref='medicoEdit' >Aceptar</button> 
</div>