<div class="container-fluid" >

	<table class="table table-striped" class="col-md-4">

		<thead>

			<tr>

                                <th>Name</th>
				<th>Actions</th>
                                <th>Promedio duracion<br> citas terminadas</th>
			</tr>

		</thead>
	<tbody>

		<tr ng-repeat="record in records">

			<td id="{{$index}}-name">{{record.nombre}}</td>
                        <td id="{{$index}}-name">{{record.descripcion}}</td>
			<td id="{{$index}}-promedio">{{record.promedio}}</td>


                            <button id="{{$index}}-edit-btn" class="btn btn-default" ui-sref="especializacionEdit({Id: record.id})"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                            <button id="{{$index}}-delete-btn" class="btn btn-default" ng-click="ctrl.deleteRecord(record)"><span class="glyphicon glyphicon-minus"></span> Remove</button>
			</td>
 
		</tr>
	</tbody>

</table>
</div>
